.navbar{
    border: solid 1px black;
}
body {
    padding:0px;
    margin-top:130px;
    margin-bottom: 0px;
}
body.cli{
   
}
.container{
    order: solid 1px black;
}
.center{
    text-align: center;
}
.bloco{
    display: block;
}
.navbar-bottom{
    
   
}
.borda{
    border: 1px solid black;
}